.allCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.card{
    width:300px;
    min-height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.6s;
    cursor:pointer;
    margin-top: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cardFace{
    width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.6s;
    position:absolute;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);

}

.cardFront{
    transform: rotateY(0deg);
}

.cardBack{
    transform: rotateY(180deg);

}

.card.flip{
    transform: perspective(600px) rotateY(180deg);

}

.card h2{
    font-family: Michroma;
    font-size: 18px;
    text-align: center;
    
}

.card a{
    color: var(--link);
    text-decoration: none;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 70%;
    font-weight: bold;

}

.card a:hover{
    color: var(--linkHover);
}

.card button{
    cursor:initial;
    font-size: 12px;
    margin: 2px;
}

.cardButtonKeyword{
    background-color: var(--color1);
}

.cardButtonLanguage{
    background-color: var(--color2);
}